/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
 --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Custom Card Variables - Light Theme */
  --ifm-card-background: var(--ifm-color-white);
  --ifm-card-text-color: var(--ifm-color-emphasis-800);
  --ifm-color-emphasis-100: #292929; /* Light grey for subtle backgrounds */
  --ifm-color-emphasis-200: #000000; /* Slightly darker grey */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /* Custom Card Variables - Dark Theme */
  --ifm-card-background: var(--ifm-color-emphasis-100); /* Darker background for cards */
  --ifm-card-text-color: var(--ifm-color-emphasis-700); /* Lighter text for dark background */
  --ifm-color-emphasis-100: #181818; /* Dark grey for subtle backgrounds */
  --ifm-color-emphasis-200: #2b2b2b; /* Slightly lighter grey */
}
