.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.heroImage {
  max-width: 100%;
  height: auto;
  border-radius: 20%;
}
.heroImage img{
  border-radius: 20%;
}

.badges {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.badge {
    background-color: var(--ifm-color-primary-darkest);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    text-align: center;
  }

  .heroText {
    align-items: center;
  }
  .buttons{
    font-size: 16px;
  }
}
