.timelineSection {
  padding: 4rem 0;
  background-color: #f7f7f7;
}

.header {
    text-align: center;
    margin-bottom: 3rem;
    color: black;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--ifm-color-primary);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timelineItem {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timelineItem:nth-child(odd) {
  left: 0;
}

.timelineItem:nth-child(even) {
  left: 50%;
}

.timelineItem::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid var(--ifm-color-primary);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timelineItem:nth-child(even)::after {
  left: -16px;
}

.timelineContent {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.507);
  color: black;
}



@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
  .timelineItem {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  .timelineItem:nth-child(even) {
    left: 0%;
  }
  .timelineItem::after {
    left: 15px;
  }
}
